{
  "printWidth": 80,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "trailingComma": "none",
  "tailwindFunctions": ["cn", "cva", "clsx"],
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["**/*.css"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
